<nav class="navbar navbar-light bg-dark p-3 sticky-top">
  <h3>🍿 Movies R cool</h3>
  <div class="text">
    <%= link_to "My lists", root_path, class: "navbar-my-lists mx-3" %>
    <%= link_to "⭐️ Create new list ⭐️", new_list_path, class: "btn btn-primary", data: { toggle: "modal", target: "#newListModal"} %>
  </div>

  <div class="modal fade" id="newListModal" tabindex="-1" role="dialog" aria-labelledby="newListModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="newListModalLabel">Modal Title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Modal content here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</nav>
