<nav class="navbar navbar-light bg-light p-3 sticky-top">
  <h3>ЁЯН┐</h2>
  <div class="text">
    <%= link_to "My lists", lists_path, class: "navbar-my-lists mx-3" %>
    <%= link_to "тнРя╕П Create new list тнРя╕П", new_list_path, class: "btn btn-primary" %>
  </div>
</nav>
