<%= render 'lists/navbar' %>
<div class="banner text-white vh-50" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1585647347483-22b66260dfff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');">
  <div class="container text-center">
    <h1> All movie lists </h1>
  </div>
</div>

<%= render 'card-lists' %>
